:where(:root) {
  --gray-0: #faf5ff;
  --gray-1: #f0e7ff;
  --gray-2: #ddd2f0;
  --gray-3: #c4b5d6;
  --gray-4: #a897bd;
  --gray-5: #8d7aa3;
  --gray-6: #725d8a;
  --gray-7: #574170;
  --gray-8: #3d2657;
  --gray-9: #2a1545;
  --gray-10: #1a0a33;
  --gray-11: #0f0520;
  --gray-12: #080212;

  --blue-light: #e0e7ff;
  --blue-dark: #6366f1;

  --green-light: #d1fae5;
  --green-dark: #10b981;

  --yellow-light: #fef3c7;
  --yellow-dark: #f59e0b;

  --orange-light: #ffedd5;
  --orange-dark: #fb923c;

  --red-light: #ffe4e6;
  --red-dark: #f43f5e;

  --purple-light: #ede9fe;
  --purple-dark: #7c3aed;

  --pink-light: #fce7f3;
  --pink-dark: #ec4899;

  --cyan-light: #cffafe;
  --cyan-dark: #06b6d4;
}
