:where(:root) {
  --radius-none: 0;
  --radius-xs: 6px;
  --radius-sm: 10px;
  --radius-md: 14px;
  --radius-lg: 20px;
  --radius-xl: 28px;
  --radius-2xl: 36px;
  --radius-3xl: 52px;
  --radius-4xl: 68px;
  --radius-full: 9999px;
}
